<h1>登録した本の一覧</h1>

<%= link_to "本の追加", new_book_path, :class => "btn btn-primary" %><br>

<hr>

<% if @books.any? %>
<table class="table table-bordered table-hover">
  <thead>
     <tr class="info"><th>id</th><th>タイトル</th><th>著者</th><th>出版社</th><th>出版日</th><th>メモ</th><th>実行</th></tr>
  </thead>
  <tbody>
    <% @books.each do |b| %>
    <tr>
    <td><%= b.id %></td>
    <td><%= b.title %></td>
    <td><%= b.author %></td>
    <td><%= b.manufacturer %></td>
    <td><%= b.publication_date %></td>
    <td><%= b.content %></td>
    <td width="230" align="center">
      <div class="btn-group">
        <%= link_to '詳細', book_path(b.id), class: "btn btn-info" %>
        <%= link_to '編集', edit_book_path(b.id), class: "btn btn-success" %>
        <%= link_to '削除', book_path(b.id), method: :delete, data: { confirm: "削除してもよろしいですか?" }, :class => "btn btn-danger" %>
      </div>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h4>No data yet.</h4>
<% end %>
